  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger ml-4" href="#page-top" id="nav-bar">MoraiArt</a>
      <button class="navbar-toggler navbar-toggler-right mr-4" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu            
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-normal ml-auto">
                    <li class="nav-item pr-4" >
                        <a class="nav-link js-scroll-trigger" href="#services" >Inicio</a>
                    </li>
                    <li class="nav-item pr-4" >                        
                        <a class="nav-link js-scroll-trigger" routerLink="/productos" >Productos</a>
                    </li>
                    <li class="nav-item pr-4" >
                        <a class="nav-link js-scroll-trigger" href="#about" >Quienes Somos</a>
                    </li>
                    <li class="nav-item pr-4" >
                        <a class="nav-link js-scroll-trigger" href="#contact" >Contacto</a>
                    </li>
                    <li class="nav-item pr-4" *ngIf="!usuario?.email">                  
                        <i *ngIf="!usuario?.email" class="far fa-user-circle pt-2 fa-2x" (click)="openModal(content)">
                        </i>                                                       
                    </li>
                    <li class="nav-item pr-4" *ngIf="usuario?.email" >                                                                      
                        <a class="nav-link js-scroll-trigger" ><img class="rounded-circle" src="../../../assets/img/team/1.jpg" alt=""></a>   
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Button trigger modal -->
  <!-- Modal -->
  <ng-template #content let-modal class="col-12 col-md-6 col-lg-4">
        <div class="modal-header bg-greenMorai">
          <div class="offset-5 pl-4">
              <i class="far fa-user-circle pt-2 fa-2x"></i>
          </div>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
<div class="card">
        <article class="card-body">
            <h4 class="card-title text-center mb-4 mt-1">Sign in</h4>
            <hr>
            <p class="text-success text-center">Some message goes here</p>
            <!-- <form> -->
            <form [formGroup]="formGroup">
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                     </div>
                    <input formControlName="email" name="email" class="form-control" placeholder="Email or login" type="email">
                </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                     </div>
                    <input formControlName="password" name="password" class="form-control" placeholder="******" type="password">
                </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" (click)="logIn()"> Login  </button>
                </div> <!-- form-group// -->
                <p class="text-center"><a href="#" class="btn" >Forgot password?</a></p>
            </form>
            <!-- </form> -->
        </article>
        </div> <!-- card.// -->
        
            <!-- <form [formGroup]="formGroup">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="text" formControlName="password" name="password" class="form-control" placeholder="Contraseña">
                </div>
            </form> -->
            <div id="notificacion"></div>
        </div>
        <div class="modal-footer bg-greenMorai">
          <button type="button" class="btn btn-outline-dark" >Save</button>
        </div>
      </ng-template>